.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;
  box-shadow: 0px 1px 0px 0px #323542;

  &__rightSide {
    display: flex;
  };

  &__addProduct {
    display: flex;
    align-items: center;
    margin-right: 20px;
  };

  &__addButton {
    background-color: #905BFF;
    color: black;
    font-size: 20px;
    width: 100%;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  };
  
  &__addButton:hover {
    background-color: #a37df6;
    transform: translateY(3px) translateX(-2px);
  };

  &__logo {
    display: flex;
    background-image: url(../../assets/images/shopping.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 16px 13px;
    height: 50px;
    width: 50px;
  };

  &__basket {
    display: flex;
    background-image: url(../../assets/images/basket.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 16px 13px;
    justify-content: space-between;
    gap: 10px;
    height: 50px;
    width: 50px;
  };

  &__basketLink {
    width: 100%;
    height: 100%;
  };
};

.nav {
  &_list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  };

  &_item {
    list-style: none;
    margin-right: 64px;
    color: #75767F;
  };

  &_link {
    color: #75767F;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 800;
    font-size: 20px;
    line-height: 11px;
  };
  
  .is_active {
    color: #fff;
  };
}